.margen{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  border-style: solid;
  border-color: black;
}

.borde{

  border-color: black;
  border-style: solid;

}

.barra{
  margin-left: 10%;
  margin-right: 10%;
  background-color: #E9E9E9 !important;
}
